@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --radius: 0.5rem;
    --sidebar-background: 214 100% 98%;
    --sidebar-foreground: 224 80% 30%;
    --sidebar-primary: 224 80% 40%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 214 100% 95.9%;
    --sidebar-accent-foreground: 224 80% 40%;
    --sidebar-border: 213 80% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 224 80% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 80% 20%;
    --primary: 224 80% 40%;
    --primary-foreground: 210 40% 98%;
    --secondary: 214 100% 96.1%;
    --secondary-foreground: 224 80% 40%;
    --muted: 214 100% 96.1%;
    --muted-foreground: 224 80% 60%;
    --accent: 214 100% 96.1%;
    --accent-foreground: 224 80% 40%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 60% 91.4%;
    --input: 214.3 60% 91.4%;
    --ring: 224 80% 40%;
    --chart-1: 224 80% 60%;
    --chart-2: 199 80% 50%;
    --chart-3: 214 70% 40%;
    --chart-4: 234 80% 60%;
    --chart-5: 250 80% 60%;
  }
  .dark {
    --sidebar-background: 210 70% 15%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 210 100% 60%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 210 60% 20%;
    --sidebar-border: 210 50% 20%;
    --sidebar-ring: 210 90% 60%;
    --background: 214 60% 9%;
    --foreground: 210 40% 98%;
    --card: 214 45% 12%;
    --card-foreground: 210 40% 98%;
    --popover: 214 45% 12%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 100% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 40% 20%;
    --secondary-foreground: 210 40% 98%;
    --muted: 210 40% 20%;
    --muted-foreground: 210 40% 80%;
    --accent: 210 40% 25%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 80% 50%;
    --destructive-foreground: 210 40% 98%;
    --border: 210 35% 25%;
    --input: 210 35% 25%;
    --ring: 210 100% 60%;
    --chart-1: 210 90% 60%;
    --chart-2: 190 80% 55%;
    --chart-3: 230 80% 60%;
    --chart-4: 250 80% 70%;
    --chart-5: 270 75% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
